
#header {
  font-size: 5vw;
  /* font-family: 'Bungee Hairline', cursive;*/
  /*font-family: 'Bungee', cursive;*/
   font-family: 'Bungee Shade', cursive;
  /*font-family: 'Bungee Outline', cursive;*/
  /*font-family: 'Bungee Inline', cursive; */
}

#chicken {
  font-size: 1vw;
  /* font-family: 'Bungee Hairline', cursive; */
  font-family: 'Bungee', cursive;
   /* font-family: 'Bungee Shade', cursive; */
  /*font-family: 'Bungee Outline', cursive;*/
  /*font-family: 'Bungee Inline', cursive; */
}
